### We use logistic regression to predict whether a person survived on the Titanic.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [10]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [20]:
variables = ['Pclass_2', 'Pclass_3', 'Sex', 'AgeBin', 'Pclass', 'HasRelatives', 'Embarked_Q', 'Embarked_S', 'FareOverHundred']
#variables = ['Pclass_2', 'Pclass_3', 'Sex', 'AgeBin', 'Pclass', 'HasRelatives', 'Embarked_Q', 'Embarked_S', 'FareOverHundred']
y = train['Survived']
X = np.array(train[variables])
print(X.shape, y.shape)

(891, 9) (891,)

In [21]:
Xtest = np.array(test[variables])
testlabeled = test[variables].copy()

In [22]:
clf = LogisticRegression(random_state = 1, C = 0.9, max_iter = 10000).fit(X, y)
print("The training accuracy is: ", clf.score(X, y))

The training accuracy is:  0.8114478114478114

In [23]:
clf.fit(X, y)

LogisticRegression(C=0.9, max_iter=10000, random_state=1)

In [24]:
pred = clf.predict(Xtest)

In [25]:
testlabeled['Survived'] = pred
testlabeled.head()

,Pclass_2,Pclass_3,Sex,AgeBin,Pclass,HasRelatives,Embarked_Q,Embarked_S,FareOverHundred,Survived
0,0,1,1,1,3,0,1,0,0.078292,0
1,0,1,0,1,3,1,0,1,0.070000,0
2,1,0,1,1,2,0,1,0,0.096875,0
3,0,1,1,1,3,0,0,1,0.086625,0
4,0,1,0,1,3,1,0,1,0.122875,0

In [26]:
testlabeled.groupby('Sex').agg({'Survived': 'mean'})

     Survived
Sex
0    0.881579
1    0.052632

In [10]:
submission = pd.read_csv('gender_submission.csv')
submission['Survived'] = pred
submission.to_csv('submission-logistic.csv', index = False)

In [12]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked', 'AgeBin', 'NRelatives', 'HasRelatives',
       'FareOverHundred', 'Embarked_Q', 'Embarked_S', 'Pclass_2', 'Pclass_3',
       'EmbarkedCat'],
      dtype='object')